.vscode
.idea
.DS_Store

ignore

movie.jl
data.jl
titles.jl
data_fixed.jl

node.csv
otherFormat.csv
additionalOptions.csv

user.csv
product.csv
review.csv

*.exe

data/snap/movies.txt.zip
data/snap/movies.txt
data/task2/movies_out.txt
data/task2/movies_text_out.txt
data/task2/movies_text.txt
