.vscode
.idea

.DS_Store

data

ignore

movie.jl
data.jl
titles.jl
data_fixed.jl

node.csv
otherFormat.csv
additionalOptions.csv

user.csv
product.csv
review.csv

*.exe

movies.txt
movies.txt.zip

movies_out.txt
movies_text.txt
movies_text_out.txt
movie_words.txt

example_word_count.csv
